@import url('style.css');

body {
	font-size:1.2em;
}

p {
    background-color: black;
}

h1 {
    background-color: black;
}

h2 {
    background-color: black;
}

h3 {
    background-color: black;
}